.header {
    width: 100%;
    height: 50px;
    background-color: black;
}

.register-event {
    display: flex;
    flex-direction: column;
}

.event-description {
    margin: 0 0 1em 0;
}

.list-button {
    align-self: flex-end;
}

.register-button {
    align-self: flex-end;
}

.list-events {
    margin: 1em;
}
