.header {
    width: 100%;
    height: 50px;
    background-color: black;
}

.register-event {
    display: flex;
    flex-direction: column;
}

.event-description {
    margin: 0 0 1em 0;
}

.list-button {
    align-self: flex-end;
}

.register-button {
    align-self: flex-end;
}

.list-events {
    margin: 1em;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    margin: 5px 1% 0px 1%;
    border: 0.5px solid #000000;
    border-radius: 8px;
    height: 20px;
}

.titulos {
    height: 20px;
    margin: 0px 0% 0px 1%;
    font-weight: bold;
}

.valores {
    height: 20px;
    margin: 0px 1% 0px 5px;
}

.descricao {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    border: 0.5px solid #000000;
    border-radius: 8px;
}

.back-button:hover {
    cursor: pointer;
}

.informacoes {
    display: flex;
    flex-direction: row;
}

.mapa {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 400px;
    margin: 40px 1% 0px 1%;
    border: 0.5px solid #000000;
    border-radius: 8px;
}

.icones {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.opcoes {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 40px 1% 0px 1%;
}