#title {
    text-align: center;
}

#table{
    margin-left: 2cm;
    margin-right: 2cm;
    align-self:flex-end;
}

#Events {
text-align: center;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse: collapse;
border: 3px solid #ddd;
width: 100%;
}

#Events td, #Events th {
border: 1px solid #ddd;
padding: 8px;
}

#Events tr {
    height: 50px;
    text-align: left;
    font-size: 16px;
}

#Events tr:nth-child(even){background-color: #bbcbcc;}

#Events tr:hover {background-color: rgb(80, 83, 87);}

#Events th {
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
background-color: #1e2224;
color: rgb(231, 226, 218);
}