.event-detail-body{
    margin-left: 1cm;
    margin-right: 1cm;
}

.mapboxgl-canvas-container {
    height: 500px;
}

.icones {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.opcoes {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 40px 1% 0px 1%;
}

.detail-title {
    font-weight: bolder;
}

.detail-info {
    text-align: initial;
}
